POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=foldforge
API_TOKEN=CHANGE_ME
GATEWAY_TAG=latest
ORCHESTRATOR_TAG=latest
FOLDFORGE_DOMAIN=api.foldforge.io
# GPU sidecar endpoints (filled once GPU hosts are provisioned)
SIDECAR_RFDIFFUSION=http://10.10.1.20:50061
SIDECAR_PROTEINMPNN=http://10.10.1.20:50062
SIDECAR_BOLTZ=http://10.10.1.20:50063
SIDECAR_AF2=http://10.10.1.20:50064
